html {
    @include centering;
    height: 100%;
    background-color: $grey;
    user-select: none;
}

body {
    height: $height;
    width: $height;
    background-color: $milk;
    border-radius: $hrelation * 36;
    box-shadow: 0 0 $hrelation * 8 $hrelation * (- 4) $black;
    overflow: hidden;
}

#invisible {
    display: none;
}